.login-container {
    max-width: 600px;
    margin: 100px auto;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
  
h1 {
    font-size: 28px;
    margin-bottom: 25px;
}
  
label {
    display: block;
    margin-bottom: 16px;
    font-size: 18px;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}
  
button {
    background-color: #003977;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 15px;
    width: 42%;
    align-self: center;
}
  
button:hover {
    background-color: #144880;
}
  
.error {
    color: #ff0000;
    margin: 10px 0;
}
  
.forgot-password a {
    color: #003977;
    text-decoration: none;
    cursor: pointer;
}
  
.forgot-password a:hover {
    text-decoration: underline;
}

