.signup-container {
    max-width: 600px;
    margin: 100px auto;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
} 

margin: auto;
    padding: 10px;
  
.signup-container h1 {
    font-size: 28px;
    margin-bottom: 25px;
}
  
.signup-container .error {
    color: red;
    margin-bottom: 10px;
}
  
.signup-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
  
.row {
    display: flex;
    gap: 10px;
}
  
.col {
    flex: 1;
}
  
input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
  
button {
    background-color: #003977;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    cursor: pointer;
    font-weight: bold;
}
  
button:hover {
    background-color: #144880;
}
  
p {
    margin-top: 10px;
    font-size: 16px;
}
  
a {
    text-decoration: none;
    color: #003977;
    font-weight: bold;
}
  
a:hover {
    text-decoration: underline;
}
  
select {
    width: 85%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #fff;
}
  
select option {
    padding: 10px;
    background-color: #fff;
    color: #000;
}

.react-datepicker-wrapper {
    margin-left: 0px;
    width: 95%;
}

.react-datepicker {
    font-family: Arial, sans-serif;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 5px;
    background-color: #fff;
    margin-left: 0px;
}
  
.react-datepicker__portal {
    position: fixed;
    z-index: 9999;
}

.react-datepicker__header {
    background-color: #f0f0f0;
    border-bottom: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

.react-datepicker__year-dropdown-container--select {
    display: inline-block;
    height: 30px;
    width: 80px;
}

.react-datepicker__month-dropdown-container--select {
    display: inline-block;
    height: 30px;
    width: 125px;
}
.react-datepicker__month-select, .react-datepicker__year-select {
    padding: 5px;
}
.react-datepicker__day-name, .react-datepicker__day {
    width: 20px;
    height: 25px;
    line-height: 30px;
    text-align: center;
    margin: 2px;
    border-radius: 4px;
}
  
.react-datepicker__day--selected {
    background-color: #007bff;
    color: #fff;
    border-radius: 50%;
}

button.react-datepicker__navigation{
    align-items: center;
    background: none;
    display: flex;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    position: absolute;
    top: -2px;
    margin: 15px 28px;
    padding: 0;
    border: none;
    z-index: 1;
    height: 23px;
    width: 23px;
    text-indent: -999em;
    overflow: hidden;
}

.css-13cymwt-control,
.css-t3ipsp-control,
.css-13cymwt__menu,
.css-13cymwt__menu-list,
.css-16xfy0z-control,
.css-16xfy0z__menu,
.css-16xfy0z__menu-list {
    max-height: 35px;
    font-size: 14px;
    margin-left: 15px;
    margin-right: 20px;
    width: 85%;
}


@media (max-width: 500px) {

    .signup-container {
        margin: auto;
        padding: 10px;
    }
    
    .signup-form {
        flex-direction: column;
        gap: 5px;
    }
    
    .row {
        flex-direction: column;
        gap: 5px;
    }
    
    .col {
        flex: 2;
        width: 100%;
    }
    
    input,
    select {
        width: calc(100% - 40px);
    }
  
    .css-13cymwt-control,
    .css-t3ipsp-control,
    .css-13cymwt__menu,
    .css-13cymwt__menu-list,
    .css-16xfy0z-control,
    .css-16xfy0z__menu,
    .css-16xfy0z__menu-list {
        width: calc(100% - 40px);
        margin-left: 20px;
        margin-bottom: 5px;
    }
    
    .react-datepicker-wrapper {
      width: 100%;
    }
  }
  